<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Local Deals Closed to You</title>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<button id="myButton">Get Deals</button>
    <div id="feed-container">
        <h1>Local Deals</h1>
        <ul id="feed-list"></ul>
        
        <div id="feedContainer">
    		<!-- Your feed content will be displayed here. -->
		</div>
    </div>

    <script src="/js/script2.js"></script>
</body>
</html>
