<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Lab</title>

<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script th:src="@{/js/jquery/jquery-3.5.0.js}"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script
	src="http://layout.jquery-dev.com/lib/js/jquery.layout-latest.js"></script>

<link
	href="http://layout.jquery-dev.com/lib/css/layout-default-latest.css"
	rel="stylesheet" />

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<link th:rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css} " />
<link th:rel="stylesheet" th:href="@{/css/dropzone/dropzone.css}" />
<link th:rel="stylesheet" th:href="@{/css/toastr/toastr.min.css}" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

<script th:src="@{/js/datatable/datatable.js}"></script>
<script th:src="@{/js/search/search.js}"></script>
<style>
.dropzone .dz-preview .dz-image {
	width: 100px;
	height: 100px;
}
</style>
</head>
<body>

	<div class="ui-layout-center" id="inner">
		<div class="ui-layout-center">

			<table>
				<tr>
					<td>
						<h4>Top Word Count</h4>
						<table id="wordCountTable" class="display">

							<!-- Header Table -->
							<thead>
								<tr>
									<th>Word</th>
									<th>Count</th>
								</tr>
							</thead>
						</table>
					</td>
					<td>
						<h4>Total Word & Sentence Count</h4>
						<table id="sentenceAndWordCountTable" class="display">

							<!-- Header Table -->
							<thead>
								<tr>
									<th>File_Name</th>
									<th>Word_Count</th>
									<th>Sentence_Count</th>
								</tr>
							</thead>
						</table>
					</td>
				</tr>

				<tr>
					<td>

						<div id="wrapper" class="chart-container"
							style="position: left; height: 25vh; width: 40vw">
							<canvas id="top-word-count-bar-chart-horizontal"></canvas>
						</div>

					</td>
					<td>

						<div id="wrapper" class="chart-container"
							style="position: right; height: 25vh; width: 40vw">
							<canvas id="sentence-word-count-bar-chart-horizontal"></canvas>
						</div>

					</td>
				</tr>

			</table>
		</div>
		<div class="ui-layout-south">

			<!-- Navigation -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
				<div class="container">
					<a class="navbar-brand" href="/">Tech-Lab</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarResponsive" aria-controls="navbarResponsive"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarResponsive">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="/">Home
									<span class="sr-only">(current)</span>
							</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Table</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Services</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="#">Contact</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>

		<div class="ui-layout-north">

			<div class="container">
				<div class="row">
					<div class="col-lg-8 mt-5">
						<div class="ui-widget" id="menu-container">

							<table>
								<tr>
									<td>
										<button id="streamingButton" onclick="myFunction()"
											style="height: 50px; width: 150px">Start Streaming</button>
									</td>

									<td><input type="text" id="searchBox"
										style="height: 50px; width: 800px"></td>
									<td><label for="search">Search </label></td>
								</tr>
								<tr>
									<td>
										<p id="demo"></p>
									</td>
								</tr>
							</table>

						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="ui-layout-west">

			<div class="container">

				<div th:if="${message}">
					<h2 th:text="${message}" />
				</div>

				<div id="dropzone">
					<form action="/uploadFile" class="dropzone needsclick"
						id="uploadFile" style="width: 150px;">

						<div class="dz-message needsclick"
							style="width: 100px; height: 500px">
							<button type="button" class="dz-button">Drop files here
								or click to upload.</button>
							<br />
						</div>

					</form>
				</div>
			</div>
		</div>

	</div>

	<script th:src="@{/js/chart/chart2.js}"></script>
	<script th:src="@{/js/chart/chart3.js}"></script>

	<script th:src="@{/js/popper/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	<script th:src="@{/js/dropzone/dropzone.js}"></script>
	<script th:src="@{/js/toastr/toastr.min.js}"></script>
	<script th:src="@{/js/dropzone/labdropzone.js}"></script>
	<script th:src="@{/js/main.js}"></script>

</body>
</html>